<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <canvas id="grid" width="601" height="601"></canvas>
    <link rel="stylesheet" href="static/border.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Visualizing</title>
   
     
</head>
<body>  
    <script id="p" data-point='{{response}}' src="static/findPath.js" ></script>  
    <button type="button" id="next" onclick="handleNext()">Next</button>
</body>
</html>